<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @chapter.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @chapter.kind %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
